* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  a {
    color: #161616;
    text-decoration: none;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  /* Navigation */
  .nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  
  .nav-brand {
    width: 60px;
  }
  
  /* Navbar Left */
    .nav-main ul {
    display: flex;
    list-style: none;
  }
  
  .nav-main ul li {
    padding: 10px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid rgb(8, 8, 8);
  }
  
  .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
  }

  hr {
    margin: 10px 0;
  }
  
  /* SHOWCASE */
  .showcase{
    width: 100%;
    height: 500px;
    background: url("Imagenes/fondo_a.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 150px;
    margin-bottom: 20px;
    color: rgb(150, 97, 18);
  }

  .showcase h1,h2{
    text-shadow: 1px 1px 1px #ffffff;
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 20px;
    background: #f058c2;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .showcase h2,
  .showcase p {
     margin-bottom: 20px; 
     font-size: 25px;
  }

  /* Services */
  .services{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 10px 0;
  }

  .services img{
    width: 80%;
    height: 200px;
  }

  ul.serv-menu li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 6px 0;
  }

  .services h3{
    margin: 20px 0;
  }

  /* Apps */
  .Apps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px 0;
  }

  .Apps img{
    width: 100%;
    height: 170px;
  }

  /* Mision */
  .mision{
    display: grid;
    text-align: center;
    gap: 50px;
    margin: 80px 0;

  }

  /* Social */
  .social {
    margin: 50px;
  }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    margin: 0 20px;
  }
  
  .links a i {
    font-size: 3rem;
  }

  /* Footer */
  .footer-container {
    display: grid;
    align-items: flex-start;
    justify-content: center;
  }
  
  .footer {
    background: #f762b4;
    color: #616161ab;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
  }

  /* SHOWCASE PRECIOS*/
  .showcase_precios{
    width: 100%;
    height: 500px;
    background: url("Imagenes/oferta.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 150px;
    margin-bottom: 20px;
    color: rgb(150, 97, 18);
  }
  .showcase_precios h1 {
    margin-bottom: 20px; 
    text-shadow: 1px 1px 1px #ffffff;
  }

  /* Marketing Digital */
  .precios_Marketing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 70px 10;
    align-items: center;
    text-align: center;
  }

  .precios_Marketing img {
    width: 70%;
    height: 300px;
  }

  ol.prec-menu li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 6px;
  }

  .precios_Marketing h3{
    margin: 20px 0;
  }

  /* SHOWCASE CONTACIOS*/
  .showcase_contactos{
    width: 100%;
    height: 500px;
    background: url("Imagenes/contacto.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 150px;
    margin-bottom: 50px;
    color: rgb(150, 97, 18);
  }

  .showcase_contactos h1 {
    margin-bottom: 20px; 
    text-shadow: 1px 1px 1px #ffffff;
  }

  /* Nuestro equipo */
  .encabesado h1 {
    text-align: center;
    color: #1d8fec;
  }
  .nuestro_equipo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 70px 0;
  }

  .nuestro_equipo img {
    width: 100%;
    height: 400px;
  }
  
  .nuestro_equipo h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }

  .nuestro_equipo p {
    text-align: center;
  }

  .nuestro_equipo a {
    padding: 15px 0;
    color: #1d8fec;
    display: inline-block;
    font-weight: bold;
  }

  .nuestro_equipo a:hover{
    text-decoration: underline;
  }

  /* Maps */
  .maps{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 10px 0;
  }

  /* Mobil */
  @media (max-width: 700px) {
  .precios_Marketing,
  .Apps,
  .maps,
  .nuestro_equipo,
  .services{
    grid-template-columns: repeat(1, 1fr);
  }
  ul.serv-menu li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 6px 0;
  }
  .menu-btn {
    display: block;
  }
  }


